<div class="content">
    <select v-model="perPage" v-on:change="onPageSizeChange">
        <option v-for="option in pageSizes" v-bind:value="option">{{option}}</option>
    </select>
    <button v-on:click="onFirst" class="button">
        <i class="fa fa-chevron-left" style="font-size: 0.5rem;"></i>
        <i class="fa fa-chevron-left" style="font-size: 0.5rem;"></i>
    </button>
    <button v-on:click="onPrev" class="button">
        <i class="fa fa-chevron-left" style="font-size: 0.5rem;"></i>
    </button>
    <button class="button inactive">Page {{currentPage}}</button>
    <button v-on:click="onNext" class="button">
        <i class="fa fa-chevron-right" style="font-size: 0.5rem;"></i>
    </button>
    <button v-on:click="onLast" class="button">
        <i class="fa fa-chevron-right" style="font-size: 0.5rem;"></i>
        <i class="fa fa-chevron-right" style="font-size: 0.5rem;"></i>
    </button>
</div>